@import "../../base/mixin";
@import "../../base/color";
@import "../../base/fonts";



.TrendsSwiperSlider{
    :global {
        .swiper-button-next,
        .swiper-button-prev {
          top: 46%;
          height: 40px;
          width: 40px;
          background: white;
          border-radius: 50%;
          color: #000000;
          padding: 12px 14px 12px 15px;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          @include for-mobile {
            display: none;
          }
        }
        .swiper-wrapper {
          margin-bottom: 50px;
          @include for-mobile{
            margin-bottom: 0;
          }
        }
        .swiper-slide {
          padding-right: 20px;
          @include for-mobile{
            padding: 0;
          }
          .TrendsSubtilesBlk{
            padding: 0;
          }
          
          position:relative;
          &:after{
            position:absolute;
            content:'';
            display:none;
            width:100%;
            top:0;
            left:0;
            height: 100%;
            background:rgba(0,0,0,0.5);
          }
          &.active.swiper-slide-visible{
            &:after{
              display:block;
            }            
          }
        }
        .swiper-button-next {
          right: 26%;
        }
        .swiper-button-prev {
          left: 1px;
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
          font-size: 15px;
        }
        .swiper-button-disabled{
          display: none;
        }
        .swiper-scrollbar {
          background: $foggrey;
          height: 2px !important;
          left: 0 !important;
        }
        .swiper-scrollbar-drag {
          background: $twilightblue;
        }
    }
    @include for-mobile{
      padding-left: 0px;
      padding: 0px 10px !important; 
      margin-right: -20px;
      margin-left: 0px;
    }
}

.TrendsContainer{
    .TrendsBannerImgBlock{
        position:relative;
        .TrendsBannerTextBlock{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            text-align:center;
            h3{
                color:$white;
                font-family:$shapiro;
                font-size:35px;
                line-height: 42px;
            }
            p{
                color:$white;
                font-family: $avenirnext;
                font-size: 21px;
            }
        }
    }
    .TrendsSubtilesContainer{
        position:relative;
        margin-top:-150px;
        text-align: center;
        @at-root{        
        .TrendsSubtilesBlk{
            padding:0 15px;
            display:inline-block;
            vertical-align:top;
            .TrendsBannerImgBlock{
                position:relative; 
                .TrendsSubtilesTextBlk{
                    position:absolute;
                    width:80%;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    text-align:center;
                    p{
                      color:$white;
                      font-family: $shapiro;
                      font-size: 21px;
                      @include for-mobile{
                        font-size: 16px;
                        line-height: 23px;
                        text-transform: capitalize;                   
                      }
                    }
                }
            }        
            .TrendsSubtilesTitleBlk{
                padding:5px 0;
                text-align: center;
                line-height: 24px;
                font-size: 16px;
                color: #24272A;
                font-family: $avenirnext;
                @include for-mobile{
                  font-size: 14px;
                }
            }
            @include for-mobile{
            padding: 0;
            }
         }
        }
        @include for-mobile{
          margin-top: -75px !important;

        }

    }
}
.sliderTrendsSubtilesContainer.TrendsSubtilesContainer{
  margin-left: 100px;
  @include for-mobile{
    margin-left: 18px;
  }
}


.blurImage {
  opacity: 0.5; 
  background-color: #737473;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}
.itemWidth {
  // width: 32% !important;
}

.thumNailcarouselConatiner{
  margin-top: -100px !important;
  .TrendsSubtilesBlk{
    padding: 0;
  }
}