@import "../../base/mixin";
@import "../../base/color";
@import "../../base/fonts";

.IdeasInspirationContainer{
    padding:30px 0 0;
    .inspirationHeader{
        text-align: center;
        font-size: 35px;
        font-weight: 800;
        line-height: 42px;
        color:$navyblue;
        margin-bottom:25px;
        text-transform: uppercase;
    }
    .inspirationSliderLookBookContainer{
        display: flex;
        align-items:center;
        .inspirationSliderBlk{
            display: inline-block;
            width:35%;
            padding-right:0;
            vertical-align: top;
            .inspirationBannerWrapper{
                margin:0;
                .inspirationSlider{
                    margin:0 25px;
                    position:relative;
                    .inspirationSliderTitle{
                            position:absolute; 
                            bottom:50px; 
                            width: 80%;
                             left:10%; 
                             text-align: 
                             center;
                            font-size: 28px;
                            font-family: $shapiro;
                            color:$white;
                    }
                }
            }  
            :global {
                .swiper-button-next:after, .swiper-button-prev:after{
                    font-size:16px;
                    color:#182C52;
                }
                .swiper-button-prev{
                    left:0px;
                }
                .swiper-button-next{
                    right:0px;
                }
                .swiper-button-next, .swiper-button-prev{
                    display:block;
                    width:45px;
                    height:45px;
                    border-radius:50%;
                    background: #fff;
                    line-height: 45px;
                    text-align: center;
                }
                .swiper-pagination-bullet {
                    background:#fff;
                    opacity:0.4;
                }
                .swiper-pagination-bullet.swiper-pagination-bullet-active{
                    opacity:1;
                    width:16px;
                    border-radius:10px !important;
                }
            }
        }
        .lookBookSlideContainer{
            display: inline-block;
            width:65%;
        }
        .lookBookContainer{            
           .lookBookImgContainer{
                display:block;
                width:33.3%;
                float:left;
                position:relative;
                .lookBookImgOverlayBlk{
                    display:none;
                    z-index:2;
                    width:100%;
                    background:rgba(0,0,0,0.6);
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    .lookBookImgOverlayBlk{
                        display:flex;
                    }
                }
                .lookBookImgOverlayCartIcon{
                    display:block;
                    width:45px;
                    height:46px;
                    position:absolute;
                    top:10px;
                    right:10px;
                    z-index:1;
                }
                .lookBookImgOverlayBtn{
                    font-size:16px;
                    font-weight:700;
                    border-radius:6px;
                    padding:10px 15px;
                    min-height:auto;
                    background-color: transparent;
                    border:1px solid $white;
                    color:$white;
                }
           }           
           &:after{
            content: "";  
            clear: both; 
            display: table;
           }
        }
    }
}

@media only screen and (max-width:1024px) {
    .IdeasInspirationContainer{
        .inspirationHeader{
            font-size:21px;
        }
        .inspirationSliderLookBookContainer{
            flex-direction: column;
            .inspirationSliderBlk{
                width:100%;
                .inspirationBannerWrapper{
                    .inspirationSlider{
                        margin:0;
                        .inspirationSliderTitle{
                                font-size: 21px;
                        }
                    }
                }            
            }
            .lookBookContainer{
                width:100%;
                white-space:nowrap;
                overflow-x:auto;
                padding-top:15px;
               .lookBookImgContainer{
                    display:inline-block;
                    width:220px;
                    float:none;
                    position:relative;
                    white-space:normal;
                    padding-right:15px;                    
                    .lookBookImgOverlayCartIcon{
                        right:20px;
                        width:40px;
                        height: 40px;
                    }
                } 
            }
        }  
    }    
}