@import "../../base/mixin";
@import "../../base/fonts";
@import "../../base/color";

.container {    
    .right_section_subBanner {
        text-align: center;
        margin-top: 30px;
        position: relative;

        .headerText {
            line-height: 1.33;
            font-size: 21px;
            margin-bottom: 13px;

            @include for-mobile() {
                margin-bottom: 5px;
                font-size: 18px;
                line-height: normal;
            }
        }

        .subtitleDesc {
            font-size: 14px;
            line-height: 1.86;
            @include for-desktop{
                max-width: 640px;
            }
            margin: auto;

            @include for-mobile {
                font-size: 12px;
            }
        }

        .secondryBtn {
            margin-top: 15px;
        }

        @include for-mobile() {
            margin-left: 25px;
            margin-right: 25px;
            text-align: left;
            margin-top: 13px;

            .secondryBtn {
                width: 100%;
                height: 40px;
            }
        }
    }

    &.textOverlay {
        .right_section_subBanner {
            @include for-desktop() {
                margin-top: 0px;
                padding-top: 15px;
            }

            @include for-mobile() {
                margin-top: 10px;
            }
        }

        .textContainer {
            position: relative;

            .headerText {
                font-size: 16px;
                position: absolute;
                top: -41px;
                width: 100%;
                text-align: center;
                color: $white;

                @include for-mobile() {
                    font-size: 14px;
                    top: -51px;
                }
            }
        }

    }
}
.campaign {
    .right_section_subBanner {
        text-align: center;
        .headerText {
            font-size: 28px;
            margin-bottom: 20px;
        }
        .subtitleDesc {
            font-size: 16px;
            color: $black;
            line-height: 1.63;
            letter-spacing: normal;
            max-width: 860px;
        }
        @include for-mobile() {
            .headerText {
                font-size: 18px;
                margin-bottom: 20px;
            }
            .subtitleDesc {
                font-size: 14px;
            }
        }
        &.top {
            margin-top: 50px;
            @include for-mobile() {
                margin-top: 40px;
                padding-left: 25px;
                padding-right: 25px;
                .headerText,
                .subtitleDesc {
                    max-width: 281px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    &.columnReverse{
        .right_section_subBanner, .textContainer{
            margin-top: 0;
        }
    }
    &.VH{
        &.columnReverse{
            >div{
                @include for-desktop(){
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.columnReverse {
    display: flex;
    flex-direction: column-reverse;

    >div {
        margin-top: 30px;
     
    }
    &.AS{
            >div{
        margin-top:40px !important;
        @include for-mobile{
            margin-top:40px !important;
        }
            }
        }
}



.PE {
    &.clp{
        .parentGrid{
            position: relative;
            overflow: hidden;
            border-radius: 12px;
            .bannervideo{
                span{
                    border-radius: 12px;
                }
            }
            :global{
                .gradient{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
        }        
    }
    
    &.textOverlay{
        .right_section_subBanner{
            min-width: max-content;
            margin-left: 0;
            margin-right: 0;
            @include for-mobile() {
                min-width: 100%;
            }
            .headerText{
                position: initial;
                font-size: 21px;
                margin-bottom: 3px;
                @include for-mobile(){
                    color: $black;
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
            .subtitleDesc{              
                    margin-top: 0;
                
            }
            .secondryBtn{
                @include fonts(14px, $lato, bold, normal, 1px);
                color: #faf8f0;
                height: 48px;
                min-width: 210px;
                @include for-mobile(){
                    margin-top:10px;
                }
            }
        }
    }
    &.blueBackground {
        position: relative;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 43px;

        &::before {
            content: "";
            background-color: #16325C;
            width: 100%;
            height: 60%;
            left: 0;
            position: absolute;
            top: 0;
        }

        @media (max-width: 1600px) {
            padding-left: 100px;
            padding-right: 100px;
        }

        @media (max-width: 1300px) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @media (max-width: 1100px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .bannervideo {
        >div {
            display: flex;
        }
    }

    .right_section_subBanner {
        &.overlay {
            @include for-desktop () {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                color: $white;
            }

            @include for-mobile() {
                text-align: center;
            }



            h5 {
                @include for-mobile() {
                    font-size: 16px;
                }
            }

            p {
                font-size: 14px;
                font-family: $lato;
            }

            button {
                background-color: #16325C;
                color: white;
                border: none;

                &:hover {
                    background-color: $fireenginered;
                }
            }
        }

        margin-top: 34px;

        @include for-mobile() {
            margin-top: 24px;
        }

        .headerText {
            font-weight: bold;
            font-family: $cabin;
            text-transform: uppercase;

            @include for-mobile() {
                font-size: 18px;
            }
        }

        .subtitleDesc {
            line-height: 1.63;
            margin-top: 8px;

            @include for-mobile() {
                font-size: 12px;
                line-height: 1.83;
                margin-top: 5px;
            }
        }

        .secondryBtn {
            border-radius: 6px;
            margin-top: 16px;

            @include for-mobile() {
                font-family: Lato;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}
.LP {
    &.blp {
        @include for-desktop() {
            .headerText {
                margin-bottom: 9px
            }
            .subtitleDesc {
                font-size: 16px;
            }
            .secondryBtn{
                margin-top: 6px;
            }
        }
    }
    .subTitle{
        color: $oldgold;
        font-weight: bold;
        @include for-desktop(){
            margin-bottom: 10px;
        }
        @include for-mobile(){
            font-size: 12px;
        }
    }
 &.campaignWedding {
     .right_section_subBanner {
        max-width: 640px;
        margin: auto;
        padding-top: 30px;
        @include for-mobile(){
            padding-top: 22px;
        }
         .headerText {
             margin-bottom: 10px;
             font-size: 21px;
             @include for-mobile() {
                 margin-bottom: 7px;
                 font-size: 18px;
                 padding-left: 0;
                padding-right: 0;
                max-width: initial;
             }
         }
         .subtitleDesc {
             @include fonts(14px, $opensans, normal, 1.86, normal);
             color: $graphite;
             @include for-mobile() {
                 font-size: 12px;
                 color: $black;
                 max-width: initial;
             }
             }
         }
     }
 }
.AS {
    .textContainer {
        .right_section_subBanner {
            .headerText {
                @include fonts(35px, $gotham, bold);
                color: $twilightblue;
                text-transform: uppercase;

                @include for-mobile() {
                    font-size: 28px;
                    text-align: center;
                }
            }

            .subtitleDesc {
                color: $lightblack;
                @include fonts(16px, $gothambook, normal);

                @include for-mobile() {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }

    // @include for-desktop() {
    //     .lightdark {
    //         opacity: 0.7;
    //         mix-blend-mode: multiply;
    //         background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 71%, $black 125%);
    //     }
    // }

    &.columnReverse{
        .right_section_subBanner,>div{
            margin-top: 0;
        }
    }
        &.ASFestival_bottomspacing {
            margin-bottom: 40px;
            // >div:nth-child(2){
            //     margin-top: 0 !important;
            // }
           @include for-desktop(){
                margin-left: 150px;
                margin-right: 150px;
              
                @media (max-width: 1600px) {
                  margin-left: 100px;
                  margin-right: 100px;
                }
              
                @media (max-width: 1300px) {
                  margin-left: 50px;
                  margin-right: 50px;
                }
            }          
    
            @include for-mobile() {
                margin-bottom: 20px;
            }
    }

}
.AEO {
    &.container{
        position: relative;
        .textContainer {
            // position: absolute;
            // margin: 0;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            background-color: red;
            .right_section_subBanner{
                min-width: max-content;
                margin-left: 0;
                margin-right: 0;
                .headerText{
                    font-size: 21px;
                    margin-bottom: 3px;
                    font-family: $shapiro;
                    font-style: normal;
                    font-weight: 295;
                    font-size: 35px;
                    line-height: 42px;
                    @include for-mobile(){
                        color: $white;
                        margin-bottom: 0;
                        font-family: shapiro;
                        font-weight: 295;
                        font-size: 21px;
                        line-height: 28px;
                        text-align: center;
                    }
                }
                .subtitleDesc{              
                    margin-top: 0;
                    font-family: $avenirnext;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 28px;
                    text-align: center;
                    color: $white;
                    @include for-mobile(){
                        color: $white;
                        font-size: 16px;
                        margin-bottom: 0;
                        font-weight: 500;
                        line-height: 23px;
                    }

                }
                .secondryBtn{
                    @include fonts(14px, $avenirnext, bold, normal, 1px);
                    color: $navyblue;
                    height: 48px;
                    min-width: 210px;
                    background-color: $white;
                    border: none;
                    @include for-mobile(){
                        margin-top:10px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 21px;
                        text-align: center;
                        letter-spacing: 0.05em;
                        width: 220px;
                        height: 35px
                    }
                }
                @include for-mobile() {
                    min-width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .top {
                .headerText{
                    font-size: 35px;
                    font-weight: 800;
                    color: $navyblue;
                    line-height: 42px;
                    font-family: $avenirnext;
                    text-transform: uppercase;
                    @include for-mobile(){
                        font-size: 21px;
                        line-height: 28px;
                    }
                }
                .subtitleDesc {
                    font-family: $avenirnext;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 28px;
                    text-align: center;
                    color: $jet;
                }
                // display: none;
            }
        }
    }

}


.columnReverseContent {
    @include for-mobile() {
        margin-left: 0;
        margin-right: 0;
    }

    .right_section_subBanner {
        margin-top: 0;
    }

    h5 {
        font-size: 21px !important;
        margin-bottom: 17px !important;

        @include for-mobile() {
            font-size: 18px !important;
        }

        span {
            margin-left: 5px;
            font-family: $cabin;
            font-weight: normal;
        }

    }
}

.ASkid{
    .textContainer {
        .right_section_subBanner {
            @include for-mobile
            {
            margin-right:20px;
            margin-left:20px;
            padding:0px;
            }
            .headerText{
            font-size: 28px;
            @include for-mobile(){
                font-size: 21px;
                max-width: initial;

            }

        }
        &.top {
            margin-top: 40px;
            .subtitleDesc {
                @include for-mobile(){
                max-width: initial;
                }
            }
        }
    } 

    }
   
   
        @supports (-webkit-overflow-scrolling: touch) {
            /* CSS specific to iOS devices */
            video{
                min-height: auto;
                aspect-ratio: 2/3;
            }
        }
    
    
    
}
.asCollection{
    position: relative;
    margin-top:50px;
    .textContainer{
        position: absolute !important;
        bottom:40px;
        left:20%;
        right:18%;
        width:auto;
        // transform: rotate(50%,-50%);
        @media screen and (max-width:600px) {
            left:0%;
            right:0%;
        }
        .right_section_subBanner{
            position: inherit;
             text-align: center !important;
            .headerText{
                margin:0px;
                color:$white;
                @include fonts(42px,$gotham,500,1.17);
                position: inherit;
               
                @include for-mobile{
                    @include fonts(28px,$gotham,bold,24px);
                }
            }
            .subtitleDesc{
                color:$white;
               
                @include fonts(16px,$gothambook,normal,24px);
                max-width:100%;
                margin:20px 0px 30px;
                @include for-mobile{
                    margin:15px 0px 20px;
                }
            }
            button{
                margin-top:0px;
                height:45px;
                border-radius: 8px;
                padding:20px;
                @include fonts(16px !important,$gotham,500,1.5);
                // color:$twilightblue;
                // background-color:$white;
                width:260px;
                &:hover{
                    background-color: $goldenyellow;
                }
                @include for-mobile{
                    font-size: 12px;
                    width:260px;
                }
            }
        }
    }

}
.aboutUs{
    position: relative;
    .textContainer{
        width:auto;
        position: absolute !important;
        top:50%;
        left:148px;
        transform: rotate(50%,-50%);
        @include for-desktop {
            left: 80px;
        }
        @include for-mobile{
            left:20px;
        }
        .right_section_subBanner{
            position: inherit;
            @include for-mobile{
                margin-left:0px;
            }
            &.overlay{
                transform: translateX(0%);

            }
            .headerText{
                color:$white;
                @include fonts(35px,$heebo,normal);
                position: inherit;
                text-align: initial;
                @include for-mobile{
                    @include fonts(21px,$heebo);
                }
            }
        }
    }
}
.container.isBulkOrderPage {
    margin-top: 0;
    margin-bottom: 50px;
    &.VH {
        margin-bottom: 0;
    }
    &.PE {
        margin-left: 150px;
        margin-right: 150px;
        @include for-mobile() {
            margin: 0;
        }
    }
    &.AS{
        @include for-mobile() {
            margin-left: 0;
            margin-right: 0;
        }
       .right_section_subBanner{
           .headerText{
               position: initial;
           }
       } 
    }
    .right_section_subBanner{ 
        .subtitleDesc {
            color: $black;
            @include fonts(26px, $opensans, 500, 1.5);
            width: 44%;
            max-width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            @include for-mobile() {
               width: 100%;
               font-size: 16px;
            }
        }
    }
    &.VH {
        @include for-mobile() {
            margin-left: 0;
            margin-right: 0;
        }
        .right_section_subBanner {
            position: absolute;
            bottom: 70px;
            left: 40px;
            .subtitleDesc {
                color: $white;
                margin: 0;
            }
        }
        &.textOverlay {
            .textContainer {
                .headerText {
                    @include fonts(36px, $oswald, bold);
                    color: $white;
                    @include for-mobile() {
                        font-size: 20px;
                    }
                }
                .subTitle {
                    @include fonts(26px, $oswald, bold);
                    color: $white;
                    @include for-mobile() {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    &.LP {
        @include for-mobile() {
            margin-left: 0;
            margin-right: 0;
        }
        .right_section_subBanner {
            .headerText {
                top: 0;
    background: $twilightblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fonts(21px, $opensans, 600);
            }
            .subtitleDesc{
                padding-top: 50px;
            }
        }
    }
    &.AS {
        .right_section_subBanner {
            .subtitleDesc {
                font-family: $gotham;
            }
        }
    }
    &.PE {
        .right_section_subBanner {
            .subtitleDesc {
                font-family: $cabin;
            }
        }
    }
}