@import "../../../base/color";
@import "../../../base/fonts";
@import "../../../base/mixin";

.footer_footer {
    .logorow{
        span{
            max-width: 100%;
            img{
                object-position: top;
                cursor: pointer;
            }
        }
    }
    .footer_container {
        max-width: 100%;
        margin: auto;


        .firstrow {
            border-top: 1px solid $foggrey;
            .uspIcons {
                width: 30%;
                >span:first-child {
                    max-height: 64px;
                    max-width: 64px;
                }
            }

            >div {
                @include fonts(14px, $oswald, normal, normal, normal);
                display: flex;
                justify-content: space-evenly;
                text-transform: uppercase;
                text-align: center;

                div {
                    @media (max-width:700px) {
                        width: 105px;
                    }
                }
            }

        }

        .firstrow Image {
            margin-top: 4px;
        }

        .firstrow span {
            display: block;
            margin-top: -11px;
            margin-bottom: 21px;

        }

        .secondrow {
            padding: 30px 0;
            background-color: $blackpitch;

            @media (max-width:700px) {
                padding: 15px 0 0;

            }
            @include for-desktop{
                li:hover{
                    text-decoration: underline;
                    text-decoration-color: white;
                }
            }

            >div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;


                .col_title {
                    @include fonts(12px, $oswald, 500, 1.75, 0.5px);
                    color: $white;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    position: relative;
                    @include for-mobile(){
                        margin-bottom: 0
                    }
                }

                .col_list {
                    @include fonts(12px, $inter, normal, 1.75, 0.5px);
                    list-style: none;


                    .col_listitem {
                        margin-bottom: 2px;

                        .col_links {
                            font-size: 12px;
                            text-transform: capitalize;
                            color: $white;
                            text-decoration: none;
                            font-weight: normal;
                            display: block;

                        }
                    }

                    .col_paymentitem {

                        display: inline-block;
                        margin: 0 5px;
                    }


                }



                .subscribform {
                    position: relative;

                    +p {
                        @include fonts(12px, $inter, normal, normal, 0.5px);
                        color: $lightgrey;
                        padding-right: 0;
                        padding-bottom: 19px;
                        padding-top: 10px;

                    }

                    :global {
                        .MuiTextField-root {
                            width: 100%;
                            // padding-right: 20px;
                        }
                    }

                }

                .col form input:focus {
                    outline: none;
                }

                .col form input {
                    @include fonts(12px, $inter, normal, normal, 0.5px);
                    width: 100%;
                    color: $white;
                    background: transparent;
                    border: none;
                    padding: 10px 0;
                    border-bottom: 0.5px solid $white;

                }

                .mailsubmit {
                    position: absolute;
                    right: 0;
                    justify-content: flex-end;
                    top:-5px;
                    padding-right: 0px !important;
                    @include for-mobile{
                        bottom:2px;
                        padding-bottom: 2px;
                    }

                }

                .sociallinks {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include for-mobile() {
                        padding-right: 0;
                    }
                }

                .sociallinks_title {
                    @include fonts(12px, $oswald, 500, 1.75, 0.5px);
                    color: $white;
                    text-transform: uppercase;
                    position: relative;
                }

                .sociallinks_icon {
                    margin: 15px;
                }
            }
            .leaveYourFeedback {
                padding-top: 7.3px;
                padding-bottom: 6.7px;
                height: 35px;
                .col_title {
                    margin: 0px;
                }
            }
        }
        .seoData {
            background-color: $blackpitch !important;
            color: $white !important;
            margin: 0;
            @include fonts(12px, $inter !important, normal, 1.75, 0.5px);
            border-top: 0.5px solid rgb(255 255 255 / 50%);
            :global {
                span {
                    color : white !important
                }
                p {
                    color: white !important;
                    text-indent: unset !important;
                }
                a , a > span{
                    color:  $white !important;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
            &.LP {
                font-family: $opensans !important;
            }
            &.PE {
                font-family: $cabin !important;
            }
            &.AS {
                background-color: $white !important;
                color: $blackpitch !important;
                font-family: $gotham !important;
                border-top: 1px  solid rgba(0, 0, 0, 0.12);
                :global {
                    span {
                        color : $blackpitch !important
                    }
                    p {
                        color: $blackpitch !important
                    }
                    a ,a > span {
                        color: $blackpitch !important;
                    }
                }
            }
            &.AEO {
                font-family: $avenirnext !important;
                background-color: $jet !important;
            }
            .shopInfo {
                width: 100%;
                :global {
                    h2 {
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: 700;
                        @include for-mobile {
                            font-size: 16px;
                        }
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: 700;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        @include for-mobile {
                            font-size: 14px;
                        }
                    }
                    h4 {
                        font-size: 14px;
                        font-weight: 700;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        @include for-mobile {
                            font-size: 12px;
                        }
                    }
                    span {
                        line-height: 1.5;
                    }
                }
            }
            .seobrand {
                margin-left: 150px;
                margin-right: 150px;
                padding: 0;

                @media (max-width: 1600px) {
                    margin-left: 100px;
                    margin-right: 100px;
                }

                @media (max-width: 1300px) {
                    margin-left: 50px;
                    margin-right: 50px;
                }

                @media (max-width: 1100px) {
                    margin-left: 20px;
                    margin-right: 20px;
                }


                &[aria-expanded="true"]::after {
                    content: "\2012";
                    font-size:28px;
                    font-family:none;
                    font-weight:lighter;
                    transition: transform 0.2s linear;
                }

                &[aria-expanded="false"]::after {
                    content: "+";
                    font-size:28px;
                    font-family:none;
                    font-weight:lighter;
                    transition: transform 0.2s linear;
                }

                p {
                    text-transform: uppercase;

                }       
            }
            .accordiondetailsdata {
                margin-left: 150px;
                margin-right: 150px;

                @media (max-width: 1600px) {
                    margin-left: 100px;
                    margin-right: 100px;
                }

                @media (max-width: 1300px) {
                    margin-left: 50px;
                    margin-right: 50px;
                }

                @media (max-width: 1100px) {
                    margin-left: 20px;
                    margin-right: 20px;
                }

            }
        }
    }

    .paymentM {
        display: flex;
        flex-wrap: wrap;
        .linebreak {
            display: block;
            width: 100%;
        }

        i {
            height: 40px;
            width: 42px;
            display: block;
            background-repeat: no-repeat;
            background-image: url("https://imagescdn.abfrl.in/img/app/brands/superapp/Icons/payment_logo.svg");
          
            @media screen and (min-width:1400px) {
                &.spacing {
                    margin-right: 11px;
                } 
            }
            &.i_payment_1 {
                background-position: -5px;
            }

            &.i_payment_2 {
                background-position-x: -53px;
            }

            &.i_payment_3 {
                background-position-x: -105px;
            }

            &.i_payment_4 {
                background-position-x: -158px;
            }

            &.i_payment_5 {
                background-position-x: -204px;
                width: 50px;
            }

            &.i_payment_6 {
                background-position-x: -257px;
                width: 60px;
            }

            &.i_payment_7 {
                background-position-x: -321px;
            }
        }

        @media (max-width:700px) {
            i {
                width: 70px;

                &.i_payment_1 {
                    background-position: -5px;
                    width: 50px
                }

                &.i_payment_2 {
                    background-position-x: -36px
                }

                &.i_payment_3 {
                    background-position-x: -88px
                }

                &.i_payment_4 {
                    background-position-x: -140px
                }

                &.i_payment_5 {
                    background-position-x: -194px;
                    width: 65px;
                }

                &.i_payment_6 {
                    background-position-x: -256px;
                }

                &.i_payment_7 {
                    background-position-x: -313px
                }
            }

        }




    }

    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

        i {
            height: 30px;
            width: 30px;
            display: block;
            background-repeat: no-repeat;
            background-image: url("https://imagescdn.abfrl.in/img/app/brands/superapp/Icons/social_media_logo.svg");

            &.i_social_1 {
                background-position: left
            }

            &.i_social_2 {
                background-position-x: -44px
            }

            &.i_social_3 {
                background-position-x: -85px
            }

            &.i_social_4 {
                background-position-x: -126px
            }

            &.i_social_5 {
                background-position-x: -170px
            }


        }

    }
    &.pdp_plp_footer{
        @include for-mobile{
        margin-bottom:40px;
        }
    }

}

.checkoutPage{
    @include for-mobile{
        padding-bottom: 103px;
    }
}

.TRENDIN{
    clear: both;
    z-index: 9;
    position: relative;
    p{
        font-family: $heebo !important;
    }
    a {
        font-family: $heebo !important;
    }
    .copyright{
        text-align: center;
        width: 100%;
    }
}
.policy {
    background-color: $black;
    color: $white;
    justify-content: space-between;
    font-family: Inter;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    border-top: 1px solid $white;

    >div {

        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        justify-content: space-between;
        @include for-mobile(){
            flex-direction: column;
        }
        .policycopyright {
            line-height: normal;
        }

        .policyDoc a {
            padding: 0 5px;
            border-right: 1px solid $white;
            font-family: Inter;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: $white;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                border: none;
            }
        }

        .policycopyright {
            font-weight: 300;
            letter-spacing: normal;

            @media (max-width:700px) {
                font-weight: normal;
            }
        }
    }


}

.logorowlast,
.mobileAccordion {
    display: none;
}

@include for-desktop() {
    .col-2 {
        width: 16.666667%;
        padding-right: 20px;

    }

    .col-1 {
        width: 8.333333%;
        padding-right: 20px;
    }

    .col-4 {
        width: 30.333333%;
    }

    .col-3 {
        width: 23%;

    }
}
// added because payment method has been removed
@include for-mobile() {
    .col-2:last-child {
        .mobileAccordion hr {
            display: none;
        }
    }
}




@include for-mobile() {

    .col {
        width: 100%;
    //  margin-bottom: 15px;
    }
    .col-4{
        >div{
            margin-top:20px;
        }
        p{
            margin-bottom: 5px !important;
        }
    }

    .col p {
        line-height: 1.5 !important;
    }

    .mobileAccordion {
        display: block;

        .fulllength {
            @include for-mobile{
                border: 1px solid $white;
            }
                @media (max-width: 1300px) {
                    margin-left: -50px;
                    margin-right: -50px;
                }
        
                @media (max-width: 1100px) {
                    margin-left: -20px;
                    margin-right: -20px;
                }
            }


        div {
            box-shadow: none;
            background-color: $blackpitch;            

            >div {
                padding: 0;

                &[aria-expanded="true"]::after {
                    content: "\2012";
                    transition: transform 0.2s linear;
                    color: $white;
                    font-size: 25px;
                    font-family: none;
                    line-height: 1.75;
                }

                &[aria-expanded="false"]::after {
                    content: "+";
                    transition: transform 0.2s linear;
                    color: $white;
                    font-size: 30px;
                    font-family: none;
                }

                div {
                    margin: 0 !important;

                    p {
                        padding: 0 !important;
                        color: $white !important;
                    }
                }

                div {
                    color: $white;
                }
            }
        }
    }

    .desktop,
    .logorow {
        display: none;
    }

    .firstrow>div {
        font-size: 11px !important;
        line-height: 1.36 !important;
        color: $black;
    }

    .policyDoc,
    .policycopyright {
        padding-bottom: 20px;
    }


    .logorowlast {
        display: block;
        position: relative;
        margin: auto;
    }

    .rowmobileAccordion {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.5px;


    }

    .indent {
        text-indent: -41px;
        overflow: hidden;

    }


}


// CSS for icons


// LP CSS

.LP {

    .firstrow {
        >div {
            @include fonts(12px !important, $opensans !important);
            text-transform: capitalize !important;
            color: $charcoal;

            @media (max-width:700px) {
                @include fonts(10px !important);
            }
        }

    }

    .col_title {
        @include fonts($font-family:$opensans !important, $font-weight:bold !important);
        text-transform: capitalize !important;
        color: $white !important;

    }

    .sociallinks_title {
        @include fonts($font-family:$opensans !important, $font-weight:bold !important);
        text-transform: capitalize !important;
    }

    .sociallinks {
        padding-bottom: 25px;
    }

    .col_list {
        @include fonts($font-family:$opensans !important, $font-weight:normal !important);
    }

    .col p {
        @include fonts($font-family:$opensans !important);
    }

    .indent {
        text-indent: -45px;
        overflow: hidden;

    }

    .store {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        @media (min-width: 481px) {
            grid-gap: 15px;
            gap: 15px;
        }
    }

    .storecontainer {
       
        background: $white;
        height: 35px;
        text-align: center;
        @include for-mobile{
            width: 50%;
        }
    }

    .policyDoc a {
        font-family: OpenSans !important;
        line-height: 1.75 !important;
        letter-spacing: 0.5px !important;

        @include for-mobile () {
            font-size: 14px !important;

        }
    }

    .policycopyright {
        font-family: OpenSans !important;
        line-height: 1.75 !important;
    }

    @include for-mobile() {
        .secondrow {
            >div {
                >div:nth-child(4) {
                    >p {
                        margin-bottom: 14px !important;
                    }
                }
            }
        }
    }
    .subscribform {
        input {
            font-family: OpenSans !important;
        }
    }
}


.AS{
    .firstrow {
        border-bottom: 1px solid $foggrey;
        border-top: 0px !important;
        >div {
            @include fonts(12px !important, $gotham !important,500 !important);
            text-transform: uppercase !important;
            color: #333;

            @media (max-width:700px) {
                @include fonts(10px !important);
            }
        }

    }

    .secondrow{
        background-color:$white !important;

        >div{

        .subscribform {

            +p {
                font-family:$gothambook !important;
                color: #333 !important;
                padding-top:0px !important;
                margin-top:7.5px;
            }
        

        }
    }
    
    }
    .col_title {
        @include fonts( $font-family:$gotham !important, $font-weight:bold !important);
        text-transform: uppercase !important;
        color: #333 !important;
        margin-top:10px;
        @include for-mobile{
             margin-bottom:12px !important;
        }

    }
    .col form input {
        font-family: $gotham !important;
        color:#999 !important;
        border-bottom:solid 0.5px #0e3051 !important;
    }

    .sociallinks_title {
        @include fonts($font-family:$gotham !important, $font-weight:bold !important);
        text-transform: uppercase !important;
        color: #333 !important;
        @media (max-width:360px){
            width:182px;
        }
    }

    .sociallinks {
        padding-bottom: 25px;
    }

    .col_list {
        @include fonts($font-family:$gothambook !important, $font-weight:normal !important);
    }

    .col_links {
        font-family: $gothambook;
        color:#333 !important;
    }
    .col p {
        @include fonts($font-family:$gotham !important);
        color: red;
    }
@include for-mobile{
    .col{
        margin-bottom:0px;
    }
    .col-4{
        >div{
            margin-top:20px;
        }
    }
    .mobileAccordion {
        display: block;
        border:0px !important;
        hr{
            background-color:  #999;;
        }
      .fulllength {
          margin:0px;
      }
        div {
            box-shadow: none;
            background-color: $white;

        
                  

            >div {
                padding: 0;

                // &[aria-expanded="true"]::after {
                //     content: "-";
                //     font-size:28px;
                //     color:#333;
                //     font-family:none;
                //     font-weight:lighter;
                //     transition: transform 0.2s linear;
                // }

                &[aria-expanded="false"]::after {
                    content: "+";
                    font-size:28px;
                    color:#333;
                    font-family:none;
                    font-weight:lighter;
                    transition: transform 0.2s linear;
                }
            }
        }
    }
}
    .indent {
        text-indent: -54px;
        overflow: hidden;

    }

    .store {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        @media (min-width: 481px) {
            grid-gap: 15px;
            gap: 15px;
        }
    }

    .storecontainer {
        width: 50%;
        background: $black;
        height: 35px;
        text-align: center;
    }
    .policy{
        background-color:$white;
        color:#333;
    

    .policyDoc a {
        font-family: $gothambook !important;
        line-height: 1.75 !important;
        letter-spacing: 0.5px !important;
        color:#333;  
        border-right: 1px solid #333;

        @include for-mobile () {
            font-size: 12px !important;
            font-weight: normal;

        }
    }

    .policycopyright {
        font-family:$gothambook!important;
        font-weight: normal;
        font-size:12px;
        line-height: 1.75 !important;
    }
}
.footer_gradient{
    background-image: linear-gradient(to right, #009c8f 0%, #2b7bfc 17%,$twilightblue 33%,#fa0783 51%,$red 66%, #f80 82%, #ffdf00)!important;
    height:8px!important;
}

 .paymentM{
   i{
         background-image: url("https://imagescdn.abfrl.in/img/app/brands/superapp/Icons/payment-logo-as.png");
   
    
     }
 }


 .social {
   

    i {
        
        background-image: url("https://imagescdn.abfrl.in/img/app/brands/superapp/Icons/social-media-logo-as.svg");
        &.i_social_1 {
            background-position: left
        }

        &.i_social_2 {
            background-position-x: -50px
        }

        &.i_social_3 {
            background-position-x: -94px
        }

        &.i_social_4 {
            background-position-x: -136px
        }

        &.i_social_5 {
            background-position-x: -179px
        }



    
        }
}
}

.PE{

    .footer_container {
           .firstrow {            
            >div {
                @include fonts(12px, $lato, normal, normal, normal);
                text-transform: capitalize;
                color: $charcoal;
                @include for-mobile(){
                    text-transform: uppercase;
                    font-size: 10px !important;
                }
            }
        }

        .secondrow {
            >div {
                .col_title,.sociallinks_title {
                    font-family: $lato;
                    font-weight: bold;
                }
                .col_list {
                    font-family: $lato;
                }
                .col form input {
                    font-family: $lato;
                }
                .subscribform {
                    +p {
                        font-family: $lato;
                    }
                }        
            }
        }
        .indent {
            text-indent: -52px;
    
        }
        .policy { 
            font-family: $lato;       
            >div {         
                .policyDoc a {
                    font-family: $lato;
                    @include for-mobile(){
                        font-size: 14px;
                    }
              }
            }
        }
    }
}

.VH{
    @include for-desktop(){
        margin-top: 50px;
    }
}
.AEO {
    .firstrow {
        > div {
            @include fonts(12px !important, $avenirnext !important);
            text-transform: capitalize !important;
            color: $jet;
            @media (max-width: 700px) {
                @include fonts(10px !important);
            }
        }
    }
    .secondrow{
        background-color:$jet !important;
        .joinAElabel{
            padding-left: 7px;
            margin-bottom: 0;
            line-height: 12px;
            display: inline-block;
            padding-top: 7px;
        }
    }

    .col_title {
        @include fonts(
            $font-family: $avenirnext !important,
            $font-weight: 800 !important
        );
        text-transform: capitalize !important;
        color: $white !important;
    }

    .sociallinks_title {
        @include fonts(
            $font-family: $avenirnext !important,
            $font-weight: bold !important
        );
        text-transform: capitalize !important;

    }

    .sociallinks {
        padding-bottom: 25px;
    }

    .col_list {
        @include fonts(
            $font-family: $avenirnext !important,
            $font-weight: normal !important
        );
    }

    .col p {
        @include fonts($font-family: $avenirnext !important);
    }

    .indent {
        text-indent: -45px;
        overflow: hidden;
    }

    .store {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        @media (min-width: 481px) {
            grid-gap: 15px;
            gap: 15px;
        }
    }

    .storecontainer {
        background: $white;
        height: 35px;
        text-align: center;
        @include for-mobile {
            width: 50%;
        }
    }

    .policy{
        background-color:#24272A;
        .policyDoc a {
            font-family: $avenirnext !important;
            line-height: 1.75 !important;
            letter-spacing: 0.5px !important;
    
            @include for-mobile() {
                font-size: 14px !important;
            }
        }
        .policycopyright {
            font-family: $avenirnext !important;
            line-height: 1.75 !important;
        }
    }

    .subscribform {
        input {
            font-family: $avenirnext !important;
        }
    }

    @include for-mobile() {
        .secondrow {
            > div {
                > div:nth-child(4) {
                    > p {
                        margin-bottom: 14px !important;
                    }
                }
            }
        }
        .mobileAccordion{
            // display: none !important;
            div {
                background-color: $jet !important;
            }
            
        }

    }
   
}

.pdpMargin{
    padding-bottom: 80px;
    @include for-mobile{
        padding-bottom: 0;
    }
}
.footerTrending{
    
}


.cartFooter {
    &.accountCartFooter {
        position: static;
    }
}

.orderDetailsPage {
    @include for-mobile{
        margin-top: 0;
    }
}

.AS{
    .secondrow{
        @include for-desktop{
            li:hover{
                text-decoration-color: black !important;
                text-decoration: underline;
                }
        }
    }
}

.TRENDIN{
    .secondrow{
        @include for-desktop{
            li:hover{
                text-decoration-color: white !important;
                text-decoration: underline;
                }
        }
    }
}


